/* General body styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  /* ===== Colors ===== */
  --primary-color: #695cfe;
  --hover-color: #9389ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */

  background-image: url("/medi-connect-main-2/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-blend-mode: soft-light;
  background-color: rgb(225, 237, 250);
}

/* Container for the whole page */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  /* border: solid 2px; */
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.group1 {
  padding: 50px 50px 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 5000px;
  max-height: 500px;
  height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.horiz_line {
  border-right: 2px solid grey;
  padding-right: 10px;
  opacity: 0.5;
  height: 100%;
}
/* Login section styles */
.login-section {
  /* border: solid 1px; */
  flex: 1;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  height: 80px; /* Increased logo size */
}

.login-header h1 {
  font-size: 32px; /* Larger title font size */
  color: black;
  margin: 0;
}

.login-header h2 {
  font-size: 20px; /* Larger subtitle font size */
  color: #555;
  margin: 0;
}

/* Login form styles */
.login-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.input-box {
  width: 300px;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--hover-color);
}

.error-message {
  color: red;
  /* font-weight: bold; */
  display: block; /* Make sure the element is displayed as a block element */
  margin-bottom: 10px; /* Add some space above the error message */
}

/*------------------------------------------------------Create Account----------------------------------------------------------*/
.create-account-button {
  margin-top: 20px;
  color: #00796b;
  text-decoration: none;
  font-size: 14px;
}

.create-account-button:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: 10px;
  color: #00796b;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-title {
  font-size: 13px;
  padding-bottom: 15px;
  align-self: center;
}

.login-element {
  padding: 2px;
  font-size: 14.5px;
}
.end-text {
  font-size: 14px;
}
/* Image section styles */
.image-section {
  flex: 1;
  background-image: url("/medi-connect-main-2/doc-paitient.png");
  background-size: cover;
  background-position: center;
  height: auto;
}

/*---------------------------------------------------Header--------------------------------------*/

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid 2px; */
  width: 100%;
  max-width: 15000px;
}

.header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid 2px; */
}

.header_button {
  background: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  /* border: solid 1px; */
}

.header_button:hover {
  text-decoration: none;
  color: rgb(43, 43, 43);
  transition: color 0.3s;
}

.empty-header {
  /*to maintain gap in header*/
  flex-grow: 1;
  /* border: solid 1px; */
}

.mediconnect-title {
  font-family: "Inter", sans-serif;
  font-size: 15px; /* Larger font size */
  color: black;
  margin: 0;
}

/* Subtitle styles */
.subtitle {
  font-size: 12px; /* Larger font size */
  color: black;
  margin: 0;
}

.logo-header {
  margin-right: 5px;
  width: 35px;
  height: auto;
}
